<div class="card <%= @api_color %>" style="width: 18rem;">
  <img src="https://i.imgur.com/o1e9atI.jpeg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title"><%= @final_output %></h5>
    <p class="card-text">This is the current Ozone air quality read-out for my neighborhood in Las Vegas</p>
    <hr class="my-4">
    <p><%= @api_description %><p/>
    <p>Reload your browser to update the read-out!<p/>
  </div>
</div>

<br/>


<br/> </br>